<div class="fixActionRow">
    <h2 mat-dialog-title>{{ data.name }}</h2>
    <mat-dialog-content>
        <form [formGroup]="todoItemForm">
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input type="text" formControlName="name" matInput placeholder="Name" />
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <div class="spacer"></div>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close (click)="onCancel()">Cancel</button>
        <button mat-button color="primary" [mat-dialog-close]="true" (click)="submitItem()">Save</button>
    </mat-dialog-actions>
</div>
