<div class="fixActionRow">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <h2 mat-dialog-title>{{ data.name }}</h2>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-icon-button (click)="onFavorite()">
                @if (todoItemForm.get('favorite')?.value) {
                <mat-icon>favorite</mat-icon>
                } @else {
                <mat-icon>favorite_border</mat-icon>
                }
            </button>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-dialog-content>
        <form [formGroup]="todoItemForm">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input type="text" formControlName="name" matInput placeholder="Name" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Add note</mat-label>
                <textarea matInput formControlName="description" placeholder="Add description"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Due Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="endDate"/>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Pick a category</mat-label>
                <mat-select formControlName="category" placeholder="Select category">
                    @for(category of categories(); track category.id ) {
                    <mat-option [value]="category.color">
                        {{ category.name }}
                        <span class="circle" [style.background-color]="category.color"></span>
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <div class="spacer"></div>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close (click)="onCancel()">Cancel</button>
        <button mat-button color="primary" [mat-dialog-close]="true" (click)="submitItem()">Save</button>
    </mat-dialog-actions>
</div>
