<form [formGroup]="formGroup">
    <div class="todo-item">
        @if (todoItem) {
        <mat-checkbox class="todo-item__check" color="primary" [formControl]="isCompleted"></mat-checkbox>
        }
        <input
            #addTodoItemInput
            class="todo-item__input todo-item__input--flat"
            [class.todo-item__input--completed]="isCompleted.value"
            [class.todo-item__input--empty]="!todoItem"
            [formControl]="name"
            [placeholder]="todoItem ? '' : 'Add new task'"
            data-placeholder="'Nouvel élément'"
            (keydown.enter)="onKeyDown($event)" />
        @if (todoItem) {
        <button mat-icon-button (click)="onDelete()">
            <mat-icon color="warn">delete</mat-icon>
        </button>
        } @if (!todoItem) {
        <button mat-icon-button (click)="onKeyDown($event)" [disabled]="!name!.value?.length"><mat-icon fontIcon="add"></mat-icon></button>
        }
    </div>
</form>
